#danube-forecast {

  .danube-forecast-stage {
    margin-left: 10px;
  }

  .danube-forecast-value {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }

  .danube-forecast-value2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.9rem;
    opacity: 0.6;
    padding-left: 10px;
  }

  .danube-forecast-tendency {
    font-weight: bold;
    font-size: 0.9rem;
    opacity: 0.6;
    padding-left: 10px;
  }

  .danube-forecast-list {
    display: flex;
    flex-direction: row;

    .danube-forecast-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .danube-forecast-day {
      font-weight: bold;
      font-size: 0.9rem;
      opacity: 0.6;

    }
  }
}