#exchange-rates {
  .exchange-rates-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }
}

#currency-converter {
  .currency-converter-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }
}

