#weather {
  .weather-title {
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
    padding: 5px 10px;
  }

  .weater-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .weater-tile {
      display: flex;
      flex-direction: column;
      height: 120px;
      width: 170px;
      background-color: #fff;
      align-items: center;
      padding: 7px;
      margin-bottom: 5px;
      margin-right: 5px;

      .weater-info {
        display: flex;
      }
      .weater-temperature {
        margin-left: 15px;
        .weater-temperature-min,
        .weater-temperature-max {
          font-weight: bold;
          font-size: 1.7em;
          white-space: nowrap;
          .weater-temperature-label {
            display: inline-block;
            font-size: 1rem;
            white-space: nowrap;
            width: 22px;
            opacity: 0.8;
          }
        }

        .weater-temperature-min {
          opacity: 0.8;
          color: rgb(30, 71, 194);
        }

        .weater-temperature-max {
          color: rgb(194, 30, 30);
        }

        .weater-temperature-unit {
          padding: 8px;
          .weater-temperature-unit-switch {
            font-size: 1em;
            opacity: 0.2;
            font-weight: bold;
            cursor: pointer;
            padding: 5px;
            &:hover {
              opacity: 0.4;
            }
            &.selected {
              opacity: 0.8;
            }
          }
        }
      }
      .weater-temperature {
        .weater-temperature-max::after,
        .weater-temperature-min::after {
          content: "°";
        }
      }
      .weater-icon {
        display: block;
        object-fit: contain;
        width: 60px;
        height: 60px;
        padding: 5px;
        color: darkgray;
      }
      .weater-description {
        padding-top: 5px;
        text-align: center;
        font-size: 0.8em;
        color: darkgray;
      }

      .weater-title {
        font-weight: bold;
        font-size: 1.1em;
        padding-top: 5px;
        opacity: 0.8;
      }
    }

    .current-weater-tile {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2px;

      .weater-icon {
        display: block;
        object-fit: contain;
        padding-right: 7px;
        color: rgb(96, 96, 96);
      }

      .weater-temperature {
        font-weight: bold;
        font-size: 1.2em;
        white-space: nowrap;
      }

      .weater-temperature-unit {
        .weater-temperature-unit-switch {
          font-size: 1em;
          opacity: 0.8;
          font-weight: bold;
          cursor: pointer;
          padding: 5px;
          &:hover {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
