#namedays {
  
  .namedays-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .namedays-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1;

      >div {
        background-color: #fff;
        text-align: center;
        padding: 7px;
        width: 170px;
        margin: 2px;
      }
    }
  
    .namedays-header {
      font-weight: bold;
    }

  }

}