#news .item {
  padding: 10px;
  background-color: #FFF;
  clear: left;
  overflow: auto;
}

#news .item .image {
  float: left;
  width: 240px;
  max-width: 100%;
  border-radius: 10px;
  padding: 0px 10px 10px 0px;
}
   
#news .item .title {
  font-weight: bold;
  padding-bottom: 5px;
}
   
#news .item .time {
  padding-bottom: 10px;
  font-size: small;
}
   
#news .item .description {
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  /* min-height: 250px; */
  color: #808080;
  text-align: justify;

}
  