@font-face {
  font-family: 'Ubuntu';
  src: url('/public/Ubuntu-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
 }
 
 @font-face {
  font-family: 'Ubuntu';
  src: url('/public/Ubuntu-RI.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
 }
 
 @font-face {
  font-family: 'Ubuntu';
  src: url('/public/Ubuntu-B.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
 }
 
 @font-face {
  font-family: 'Ubuntu';
  src: url('/public/Ubuntu-BI.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
 }
 
 :root {
  --page-max-width: 1200px;
  --primary-color-hue: 49;
  --primary-color-sat: 97%;
  --primary-color-lig: 53%;
  --primary-color: hsl(var(--primary-color-hue), var(--primary-color-sat), var(--primary-color-lig));
  --shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
 }
 
 body {
  margin: 0px;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  background-color: #EEE;
 }
 
 a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
 }
 
 .button {
  background-color: var(--primary-color);
  box-shadow: var(--shadow);
  border: 1px solid hsl(var(--primary-color-hue), var(--primary-color-sat), calc(var(--primary-color-lig) - 30%));
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
 }
 
 #header {
  display: flex;
  justify-content: center;
 }
 
 #header .inside {
  width: calc(var(--page-max-width) - 20px);
  max-width: 100%;
  padding: 10px;
  /* border: 1px solid #000; */
 }
 
 #header .inside .logo {
  font-size: 25pt;
  font-weight: bold;
 }
 
 #content {
  display: flex;
  justify-content: center;
 }
 
 #content .inside {
  display: flex;
  flex-direction: row;
  width: var(--page-max-width);
  max-width: 100%;
  /* border: 1px solid #000; */
 }
 
 #footer {
  display: flex;
  justify-content: center;
 }
 
 #footer .inside {
  width: calc(var(--page-max-width) - 20px);
  max-width: 100%;
  /* border: 1px solid #000; */
  padding: 10px;
 }

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
